<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="background-color: #f9f9f9;
               font-family: Helvetica, Arial, sans-serif;
                font-weight: 300;
                text-align:center;">
    <div style="box-shadow: 0px 0px 10px 0px #ccc;
                margin: 0 auto;
                text-align: left;
                max-width: 600px;
                background-color: #fff;">
      <div style="background-color: #d0eaea; padding: 20px 30px;">
        <img src="<%- baseUrl %>/assets/images/email_logo.png" width="240px" height="38px" />
      </div>
      <div style="margin: 20px 20px 60px;">
        <img src="<%- baseUrl %>/assets/images/email_ninja.png" width="140px" style="float: right;"/>
        <table style="padding-bottom:25px;">
          <tr>
            <td style="vertical-align: top;
                       padding: 10px; 
                       color: #349b94;
                       font-size: 2em;
                       line-height: 1.2em;">
              <%= inviter %> invited you to review <%= user %>/<%= repo %> in ReviewNinja.
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top; padding: 10px;">
              <a href="<%- url %>" 
                 style="background-color: #ef4e14;
                   border-style: none;
                   color: white;
                   font-size: 1.125em;
                   font-weight: 600;
                   text-decoration: none;
                   padding: 14px;">Try ReviewNinja</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
